<section>
    <div class="about-me">
        <h1>About me</h1>
        <div class="about-me-txt">
            <div>
                <p>Hi, I am a Front-End Developer from Bremen, Germany, with a passion for crafting engaging user
                    interfaces and outstanding user experiences. With my expertise and communication skills, I strive to
                    meet my clients' requirements and develop high-quality websites and applications. If you're
                    interested in collaborating or simply discussing technology and design, I look forward to hearing
                    from you. </p>
            </div>
            <div class="icon-txt">
                <div>
                    <img src="./../../../../assets/img/icons/bulb.svg" alt="">
                </div>
                <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
            <div class="icon-txt">
                <div>
                    <img src="./../../../../assets/img/icons/puzzle.svg" alt="">
                </div>
                <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
        </div>
    </div>
    <div class="headshot">
        <hr>
    </div>
</section>