<section>
    <div class="about-me">
        <h1>{{'navbar.about-me' | translate }}</h1>
        <div class="about-me-txt">
            <div>
                <p>{{'about-me.me' | translate }}</p>
            </div>
            <div class="icon-txt">
                <div>
                    <img src="./../../../../assets/img/icons/bulb.svg" alt="">
                </div>
                <p>{{'about-me.first' | translate }}</p>
            </div>
            <div class="icon-txt">
                <div>
                    <img src="./../../../../assets/img/icons/puzzle.svg" alt="">
                </div>
                <p>{{'about-me.second' | translate }}</p>
            </div>
        </div>
    </div>
    <div class="headshot-section">
        <div class="headshot">
            <!-- <svg width="200" height="4" xmlns="http://www.w3.org/2000/svg">
                <rect width="100" height="04" fill="#00BEE8" />
            </svg> -->
        </div>
        <hr>
    </div>
</section>