<section>
    <div class="about-me">
        <h1>About Me</h1>
        <div class="about-me-txt">
            <div>
                <p>Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit
                    amet porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur. </p>
            </div>
            <div class="icon-txt">
                <img src="./../../../../assets/img/icons/bulb.svg" alt="">
                <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
            <div class="icon-txt">
                <img src="./../../../../assets/img/icons/puzzle.svg" alt="">
                <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
        </div>
    </div>
    <div class="headshot"><hr></div>
</section>