footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
}


.social-media {
    display: flex;
    gap: 20px;
}