nav {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 20px 0px 20px 0px;
    background-color: #141D2F;
    height: 64px;
}

a {
    font-size: 23px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.navbar-links {
    display: flex;
    gap: 20px;
}