<nav>
    <div class="navbar">
        <div class="logo">
            <a href="">K<Span>C</Span></a>
        </div>

        <div [ngClass]="{'hamburger-menu': screenWidth < 800}">
            <input id="menu-toggle" [ngClass]="{'display-none': screenWidth > 800}" type="checkbox" />
            <label [ngClass]="{'display-none': screenWidth > 800}" class="menu-btn" for="menu-toggle">
                <span></span>
            </label>

            <div [ngClass]="{'menu-box': screenWidth < 800, 'navbar-links': screenWidth > 800}">
                <a href="#about-me">About Me</a>
                <a href="#my-skills">Skills</a>
                <a href="#portfolio">Portfolio</a>
                <a href="#contact">Contact</a>
            </div>
        </div>
    </div>
</nav>