<nav>
    <div class="navbar">
        <div class="logo">
            <a href="">K<Span>C</Span></a>
        </div>

        <div [ngClass]="{'hamburger-menu': screenWidth < 800}">
            <input id="menu-toggle" [ngClass]="{'display-none': screenWidth > 800}" type="checkbox" />
            <label [ngClass]="{'display-none': screenWidth > 800}" class="menu-btn" for="menu-toggle">
                <span></span>
            </label>

            <div [ngClass]="{'menu-box': screenWidth < 800, 'navbar-links': screenWidth > 800}">
                <a href="#about-me">{{'navbar.about-me' | translate }}</a>
                <a href="#my-skills">{{'navbar.skills' | translate }}</a>
                <a href="#portfolio">{{'navbar.portfolio' | translate }}</a>
                <a href="#contact">{{'navbar.contact' | translate }}</a>
                <a (click)="switchLanguage()">{{"navbar.currentLanguage"|translate}}</a>
            </div>
        </div>
    </div>
</nav>