<header>
    
    <div class="introduce">
        <div class="introduce-0">
            <div class="introduce-1">I am</div>
            <div>
                <div class="introduce-2">Kutup Cevik</div>
                <div class="introduce-3">FRONTEND DEVELOPER</div>
            </div>
        </div>
        <button>Let's taklk!</button>
    </div>
    <div class="background">
        <img src="./../../../../assets/img/background/background-curve1.svg" alt="">
    </div>
    <div class="links">
        <hr>
        <a href="https://github.com/KutupCevik" target="_blank"><img src="./../../../../assets/img/icons/git.svg" alt=""></a>
        <a href='mailto:kutup.cevik@outlook.com'><img src="./../../../../assets/img/icons/mail.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/kutup-cevik/" target="_blank"><img src="./../../../../assets/img/icons/in.svg" alt=""></a>
    </div>
</header>