header {
    height: calc(100vh - 64px);
    max-height: 3840px;
    position: relative;
}

.headshot {
    background-image: url(./../../../../assets/img/headshot/IMG_7664-2-Photoroom.png-Photoroom.png);
    background-size: 50%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.introduce {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40%;
    right: 4%;
    width: fit-content;
    height: fit-content;

    .introduce-1 {
        font-size: clamp(35px, 5vw, 75px);
        transform-origin: 53% center;
        rotate: -90deg;
        // height: 32px;
    }

    .introduce-2 {
        font-size: clamp(45px, 6vw, 90px);
        font-weight: 700;
        // height: 64px;
    }

    .introduce-3 {
        font-size: clamp(26px, 3.5vw, 53px);
        // height: 40px;
        color: #4B47FF;
    }
}

.background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(./../../../../assets/img/headshot/IMG_7664-2-Photoroom.png-Photoroom.png);
    background-size: min(calc(70vh - 64px), 80vw);
    background-position: left 3vw center;
    background-repeat: no-repeat;
    // overflow: visible;
    // background-clip: content-box;
    // background-attachment: fixed;
    z-index: -1;

    img {
        width: 100%;
        position: absolute;
        top: calc(100% - 40vw);
    }
}

// .background {
//     position: absolute;
//     top: 0;
//     height: 100%;
//     width: 100%;
//     background-image: url(./../../../../assets/img/background-curve1.svg), url(./../../../../assets/img/headshot/IMG_7664-2-Photoroom.png-Photoroom.png);
//     background-size: auto, 700px;
//     background-position: left bottom -395px, left center;
//     background-repeat: no-repeat;
//     // overflow: visible;
//     // background-clip: content-box;
//     // background-attachment: fixed;
//     z-index: -1;
// }

@media (min-width: 1450px) {
    .background {
        // background-size: 700px;
        background-position: left 3vw center;
    }
}

@media (max-width: 1350px) {
    .background {
        // background-size: 48%;
        background-position: left 3vw center;
    }
}

@media (max-width: 800px) {
    .background {
        // background-size: 100%;
        background-position: left 3vw center;
    }
}