:root {
    --imageHeight: 0px; // Definiere die CSS-Variable
}

header {
    height: calc(100vh - 64px);
    height: calc(100svh - 64px);
    position: relative;
}

button {
    transition: all 0.1s ease-in-out;

    &:hover {
        padding: 20px 40px 20px 40px;
        background-color: #4B47FF;
    }

    &active {
        padding: 17px 30px 17px 30px;
        background-color: white;

        a {
            color: black;
        }
    }
}

.introduce {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    height: 90%;
    margin: 0 5vw 0 0;
    gap: 40px;
}

.i-am {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210px;
    gap: 20px;
}

.introduce-0 {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: fit-content;
    height: fit-content;

    .introduce-1 {
        font-size: clamp(25.5px, 5.8vw, 74px);
        transform-origin: 53% 52%;
        rotate: -180deg;
        writing-mode: vertical-rl;
    }

    .introduce-1-de {
        font-size: clamp(17px, 3.76vw, 48px);
        transform-origin: 53% 52.5%;
        rotate: -180deg;
        writing-mode: vertical-rl;
    }

    .introduce-2 {
        font-size: clamp(31px, 7vw, 90px);
        font-weight: 700;
    }

    .introduce-3 {
        font-size: clamp(18px, 4.1vw, 53px);
        color: #4B47FF;
    }

    .introduce-3-de {
        font-size: clamp(17.3px, 3.9vw, 50.5px);
        color: #4B47FF;
    }
}

.background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(./../../../../assets/img/headshot/headshot1.png), url(./../../../../assets/img/background/purple-blue.svg);
    background-size: min(calc(65vh - 64px), 80vw), min(calc(90vh), 150vw);
    background-position: left 3vw bottom var(--imageHeight), left -80px center;
    background-repeat: no-repeat;
    z-index: -1;
    overflow: hidden;

}

.img {
    width: 100%;
    height: 55%;
    position: absolute;
    // top: calc(100% - 48vw);
    object-fit: fill;
    bottom: 0;
    -webkit-mask-image: linear-gradient(170deg, rgb(0, 0, 0) 69%, rgba(0, 0, 0, 0.1) 74%, rgba(0, 0, 0, 0) 75%);
    mask-image: linear-gradient(170deg, rgb(0, 0, 0) 69%, rgba(0, 0, 0, 0.1) 74%, rgba(0, 0, 0, 0) 75%);
}

.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0px 5vw 0px 0px;

    hr {
        height: 4px;
        width: 100px;
        border-width: 0;
        color: #4B47FF;
        background-color: #4B47FF;
        margin-right: 40px;
    }
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
    height: fit-content;

    img {
        height: 30px;
    }

    a {
        display: flex;
    }
}

.container-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1930px;
}

.links-arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1930px;
}

.icon {
    display: flex;
    transition: transform 0.1s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}


$size: 50px;
$speed: 3s;
$peakopacity: 0.7;


.arrows {
    width: $size;
    height: $size;
    transform: translate(-25px, -80px);

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-left: $size/3 solid rgba(0, 0, 0, $peakopacity);
        border-bottom: $size/3 solid rgba(0, 0, 0, $peakopacity);
        transform: translate($size/3, $size*4/3)rotate(-45deg);
        animation: arrows $speed linear infinite;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-left: $size/3 solid rgba(0, 0, 0, $peakopacity);
        border-bottom: $size/3 solid rgba(0, 0, 0, $peakopacity);
        transform: translate($size*2/3, 0px)rotate(-45deg);
        animation: arrows $speed linear infinite $speed/-2;
    }
}

@keyframes arrows {
    0% {
        border-left: $size/3 solid rgba(0, 0, 0, 0);
        border-bottom: $size/3 solid rgba(0, 0, 0, 0);
        transform: translate($size/-6, $size*4/-6)rotate(-45deg);
    }

    10%,
    90% {
        border-left: $size/3 solid rgba(0, 0, 0, 0);
        border-bottom: $size/3 solid rgba(0, 0, 0, 0);
    }

    50% {
        border-left: $size/3 solid rgba(0, 0, 0, $peakopacity);
        border-bottom: $size/3 solid rgba(0, 0, 0, $peakopacity);
        transform: translate($size/-6, 0px)rotate(-45deg);
    }

    100% {
        border-left: $size/3 solid rgba(0, 0, 0, 0);
        border-bottom: $size/3 solid rgba(0, 0, 0, 0);
        transform: translate($size/-6, $size*4/6)rotate(-45deg);
    }
}

@media (max-aspect-ratio: 1.2/1) and (max-width: 1700px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .introduce {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .i-am {
        height: 200px;
        justify-content: end;
    }

    .background {
        background-position: center bottom var(--imageHeight), center center;
    }

    .links {
        .mail {
            display: none;
        }
    }

    .arrows {
        display: none;
    }
}

@media (max-aspect-ratio: 1.2/1) and (max-height: 1100px) {}

@media (max-aspect-ratio: 1.2/1) and (max-height: 700px) {
    .background {
        background-position: center bottom var(--imageHeight), center center;
    }
}

@media (max-aspect-ratio: 1.2/1) and (max-width: 800px) {
    .img {
        height: 50%;
        width: 130%;
    }
}

@media (max-width: 700px) and (min-height: 800px) {
    .background {
        background-position: center bottom var(--imageHeight), center center;
    }
}

@media (max-width: 500px) and (min-height: 800px) {
    .background {
        background-position: center bottom var(--imageHeight), center center;
    }
}

@media (min-width: 2100px) and (min-aspect-ratio: 1.2/1){
    .background {
        background-position: left calc(50% - 700px) bottom var(--imageHeight), left calc(50% - 700px) center;
    }

    .introduce {
        margin: 0 auto 0px auto;
        max-width: 1930px;
    }
}