<header>
    
    <div class="introduce">
        <div class="i-am">
            <div class="introduce-0">
                <div [ngClass]="{'introduce-1': !languageDE(), 'introduce-1-de': languageDE()}">{{'header.i-am' | translate }}</div>
                <div>
                    <div class="introduce-2">Kutup Cevik</div>
                    <div class="introduce-3">{{'header.developer' | translate }}</div>
                </div>
            </div>
            <button><a href="#contact">{{'header.contact' | translate }}</a></button>
        </div>
    </div>
    <div class="background">
        <img src="./../../../../assets/img/background/background-curve1.svg" alt="">
    </div>
    <div class="header-bottom">
        <div class="links">
            <hr>
            <a class="icon" href="https://github.com/KutupCevik" target="_blank"><img src="./../../../../assets/img/icons/git-hub.svg" alt=""></a>
            <a class="icon" href="mailto:kutup.cevik@outlook.com"><img src="./../../../../assets/img/icons/mail.svg" alt=""></a>
            <a class="icon" href="https://www.linkedin.com/in/kutup-cevik/" target="_blank"><img src="./../../../../assets/img/icons/in.svg" alt=""></a>
            <a class="mail" href="mailto:kutup.cevik@outlook.com">mail&#64;kutupcevik.com</a>
        </div>
        <div class="arrows"></div>
    </div>
</header>