a {
    text-decoration: underline;
}

.legal {
    // height: calc(100vh);
    // overflow-y: hidden;
    // margin-left: 80px;
    // margin-right: 80px;#
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}