<section>
    <div class="portfolio-introduce">
        <h1>{{'navbar.portfolio' | translate }}</h1>
        <p>{{'portfolio.description' | translate }}</p>
    </div>
    <div class="portfolio">
        @for (project of projects; track i; let i = $index) {
            <div class="project">
                <div>
                    <img src="{{project.img}}" alt="">
                </div>
                <div class="project-introduce">
                    <div>
                        <h2>{{project.name}}</h2>
                        <div class="technologie">
                            @for (technologie of project.technologie; track j; let j = $index) {
                                <span>
                                    {{technologie}}
                                    @if (j < project.technologie.length -1) {
                                        |
                                    }
                                </span>
                            }
                        </div>
                        @if (this.translateService.currentLang == "de") {
                            <p>{{project.descriptionDE}}</p>
                        } @else () {
                            <p>{{project.descriptionEN}}</p>
                        }
                    </div>
                    <div class="project-buttons">
                        <button class="test-button"><a href="{{project.liveTest}}" target="_blank">Live test</a></button>
                        <button class="github-button"><a href="{{project.gitHub}}" target="_blank">Github</a></button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>