section {
    margin: 64px 5vw 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

h2 {
    color: #4B47FF;
    margin-bottom: 10px;
}

button {
    transition: all 0.1s ease-in-out;
}

button:hover {
    background-color: #00BEE8;
}

button:active {
    border-color: white;
    background-color: white;
    a {
        color: #4B47FF;
    }
}

.portfolio-introduce {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio {
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-top: 80px;
    max-width: 1930px;
    width: 100%;
}

.project {
    display: flex;
    align-items: center;
    gap: 160px;

    img {
        width: 300px;
    }
    
    &:nth-child(2) {
        justify-content: end;
    }
}

.project-introduce {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.project-buttons {
    display: flex;
    gap: 40px;
}

.technologie {
    font-size: 23px;
    color: #00BEE8;
    margin-bottom: 10px;
}

.test-button {
    background-color: #4B47FF;
}

.github-button {
    background-color: transparent;
    border: 1px solid #00BEE8;
}

@media (max-aspect-ratio: 1.2/1) and (max-width: 1700px) {
    .project {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 900px) {
    .project {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 400px) {
    .project-introduce {
        width: 250px;
    }

    .project img {
        width: 250px;
    }
}