section {
    margin: 64px 5vw 0 5vw;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

button {
    margin: 0 auto;
    transition: all 0.1s ease-in-out;

    &:hover {
        padding: 20px 40px 20px 40px;
        background-color: #4B47FF;
    }

    &active {
        padding: 17px 30px 17px 30px;
        background-color: white;
        a {
            color: black;
        }
    }
}

button:disabled {
    background-color: gray;
    cursor: no-drop;
    opacity: 80%;
    padding: 17px 30px 17px 30px;
}

.contact-me-txt {
    max-width: 473px;
}

.contact-form {
    max-width: 617px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 460px;

    input,
    textarea {
        color: white;
        border: 1px solid #4B47FF;
        border-radius: 10px;
        background-color: #141D2F;

        &::placeholder {
            color: gray;
        }
    }

    mat-label {
        color: white;
        font-size: 14px;
    }
}

.mat-form-field {

    input,
    textarea {
        color: white;
        border: 1px solid #4B47FF;
        border-radius: 10px;

        ::placeholder {
            color: gray;
        }
    }
}

.checkbox {
    a {
        text-decoration: underline;
    }
}

.submit {
    cursor: pointer;
    margin: 0 auto;
}

.valid-icon {
    color: #70E61C;
    /* Valid icon color */
}

.invalid-icon {
    color: red;
    /* Invalid icon color */
}

@media (max-aspect-ratio: 1.2/1) {
    main {
        flex-direction: column;
    }
}