section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 90%;
    margin: 0px auto 30vh auto;
    padding-top: 64px;
    gap: 40px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    max-width: 721px;
    gap: 40px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 110px;
    height: 100px;
    img {
        height: 60px;
    }
}

.introduce-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 471px;
    div {
        text-align: end;
    }
    // p {
    //     max-width: 471px;
    // }
}

@media (max-aspect-ratio: 1.2/1) {
    section {
        flex-direction: column;
    }

    .skills {
        justify-content: center;
    }
}