section {
    display: flex;
    flex-direction: row-reverse;
    // width: 90%;
    margin: 64px 0 0 5vw;
    gap: 40px;
    float: right;
}

p {
    margin-right: 5vw;
}

button {
    transition: all 0.1s ease-in-out;

    &:hover {
        padding: 20px 40px 20px 40px;
        background-color: #4B47FF;
    }

    &active {
        padding: 17px 30px 17px 30px;
        background-color: white;
        a {
            color: black;
        }
    }
}

.skills {
    display: flex;
    flex-wrap: wrap;
    max-width: 721px;
    gap: 40px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 125px;
    height: 100px;
    img {
        height: 60px;
    }
}

.title {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    hr {
        height: 4px;
        width: 3vw;
        margin-left: 2vw;
        border-width: 0;
        color: #4B47FF;
        background-color: #4B47FF;
        margin-bottom: 20px;
    }
}

.introduce-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 641px;
    div {
        text-align: end;
    }
    // p {
    //     max-width: 471px;
    // }
}

@media (max-aspect-ratio: 1.2/1) and (max-width: 1700px) {
    section {
        flex-direction: column;
        gap: 80px;
        align-items: end;
        margin: 64px 0 0 0;
    }

    .skills {
        justify-content: center;
    }
}