<section>
    <div class="introduce-skills">
        <div>
            <div class="title">
                <h1>{{'my-skills.my-skills' | translate }}</h1>
                <hr>
            </div>
            <p>{{'my-skills.description' | translate }}</p>
        </div>
        <button><a href="#contact">{{'my-skills.button' | translate }}</a></button>
    </div>
    <div class="skills">
        @for (item of skills; track $index) {
            <div class="skill">
                <img src="{{item.icon}}" alt="">
                <span>{{item.name}}</span>
            </div>
        }
    </div>
</section>