section {
    display: flex;
    flex-direction: row-reverse;
    margin: 64px 0 0 5vw;
}

main {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}

p {
    max-width: 535px;
}

button {
    transition: all 0.1s ease-in-out;

    &:hover {
        padding: 20px 40px 20px 40px;
        background-color: #4B47FF;
    }

    &active {
        padding: 17px 30px 17px 30px;
        background-color: white;
        a {
            color: black;
        }
    }
}

.skills {
    display: flex;
    flex-wrap: wrap;
    max-width: 721px;
    gap: 40px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 125px;
    height: 100px;
    transition: all 100ms ease-in-out;
    img {
        height: 60px;
    }
    &:hover {
        transform: scale(1.1);
    }
}

hr {
    height: 4px;
    width: 3vw;
    margin-left: 2vw;
    border-width: 0;
    color: #4B47FF;
    background-color: #4B47FF;
    margin-top: clamp(30px, 5vw, 70px);
}

.introduce-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    div {
        text-align: end;
    }
    // p {
    //     max-width: 471px;
    // }
}

@media (max-aspect-ratio: 1.2/1) and (max-width: 1700px) {
    main {
        flex-direction: column;
        gap: 80px;
        align-items: end;
        margin: 64px 0 0 0;
    }

    hr {
        margin-top: clamp(93px, 11vw, 121px);
    }

    .skills {
        justify-content: center;
    }
}

@media (min-aspect-ratio: 1.2/1) and (min-width: 2500px) {
    hr {
        width: 20vw;
    }
}

@media (min-aspect-ratio: 1.2/1) and (min-width: 4000px) {
    hr {
        width: 30vw;
    }
}