* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
}

body {
    width: calc(100vw - (100vw - 100%));
    background-color: #141D2F;
    font-family: poppins;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.legal {
    height: calc(100vh - 128px);
    overflow-y: scroll;
    margin-left: 80px;
    margin-right: 80px;
}